<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=page.title%></title>
  </head>
  <body>
    <h1>Create and Edit Events</h1>
    <h1><%=page.heading%></h1>
    <p><%=page.desc%></p>
    <p><%=text%></p>

    <div>
      <p>Create a new event</p>
      <form action="create_event" method="post">
        <p>
          Title:
          <input id="create_title" type="text" name="title" />
        </p>
        <p>
          Description:
          <input id="create_desc" type="text" name="desc" />
        </p>
        <button type="submit">Create a new event</button>
      </form>
    </div>

    <div>
      <% event.forEach((data) => {%>
      <form action="publish_event" method="post">
        <div>
          <%=data.title%>
          <input type="hidden" id="event_<%=data.id%>" name="event_<%=data.id%>" value="publish" />
          <button type="submit">Publish: <%=data.title %></button>
        </div>
      </form>
      <%});%>
    </div>
  </body>
</html>
