<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=page.title%></title>
  </head>
  <body>
    <h1>EDIT Events Page (remove later)</h1>
    <h1><%=page.heading%></h1>
    <p><%=page.description%></p>

    <div>
      <p>Edit event</p>
      <form action="update_event" method="post">
        <p>
          Title:
          <input id="create_title" type="text" name="title" value="<%=event.title %>" />
        </p>
        <p>
          Description:
          <input id="create_desc" type="text" name="description" value="<%=event.description %>" />
        </p>

        <p>Edited last: <%=event.date_edited %></p>

        <p>
          Publish:
          <input id="publish" type="checkbox" name="published" value="1" />
        </p>
        <input type="hidden" id="event_<%=event.id%>" name="id" value="<%=event.id%>" />
        <button type="submit">Update event</button>
      </form>
    </div>
  </body>
</html>
