<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Site Settings</title>
  </head>
  <body>
    <h1>Site Settings Page</h1>

    <!-- <p>Home Page Settings</p>
    <form action="home_page_settings" method="post">
      <p>Title: <input id="id_home_page_settings" type="text" name="home_page_title" /></p>
      <p>Header: <input id="id_home_page_settings" type="text" name="home_page_header" /></p>
      <p>Description:<input id="id_home_page_settings" type="text" name="home_page_desc" /></p>
      <button type="submit">Update the Home Page</button>
    </form>
 -->
    <% formData.forEach( (data) => { %>
    <p><b><%=data.title %> Settings</b></p>

    <!-- data.name data.title are not to be changed  -->
    <form action="<%=data.name%>_settings" method="post">
      <p>
        Heading:
        <input
          id="id_<%=data.name%>_settings"
          type="text"
          size="20"
          name="<%=data.name%>_heading"
          value="<%=data.heading%>"
        />
      </p>

      <p>
        Description:<input
          id="id_<%=data.name%>_settings"
          type="text"
          size="20"
          name="<%=data.name%>_desc"
          value="<%=data.desc%>"
        />
      </p>
      <button type="submit">Update the <%=data.title %></button>
    </form>
    <% }); %>
  </body>
</html>
