<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/bootstrap.bundle.min.js "></script>
    <!-- 
      NOTE: 
      Template taken from : https://www.w3schools.com/bootstrap5/tryit.asp?filename=trybs_template1 
      and modified. Only the content is my own. All the CSS and Layout is from bootstrap. 
    -->

    <title><%=page.title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/organizer/">Organizer Home Page</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1><%=page.heading%></h1>
    <p><%=page.description%></p>

    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12">
          <% siteSettings.forEach((siteSettings) => {%>

          <div class="card">
            <div class="clearfix bg-secondary">
              <div class="card-header bg-primary text-white float-start"><%=siteSettings.title%> Settings:</div>
            </div>

            <div class="clearfix bg-secondary">
              <form action="update_site_settings" method="post">
                <input type="hidden" name="name" value="<%=siteSettings.name%>" />
                <div class="card-header bg-secondary text-white float-start"><b>Heading</b></div>
                <div class="card-header bg-secondary text-white float-start">
                  <input
                    id="id_settings_heading"
                    type="text"
                    size="20"
                    name="heading"
                    value="<%=siteSettings.heading%>"
                  />

                  <b>Description:</b>
                  <input
                    id="id_settings_desc"
                    type="text"
                    size="20"
                    name="description"
                    value="<%=siteSettings.description%>"
                  />
                </div>
                <div class="card-header bg-secondary text-white float-end">
                  <button type="submit" class="btn btn-warning">Update</button>
                </div>
              </form>
            </div>
          </div>

          <br />
          <%});%>
        </div>
      </div>
    </div>
  </body>
</html>
